<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="helloApp">

    <h1>hi</h1>
    <div id="profile_facebook">{{whoami}}</div>
    <a ng-click="loginFace()" ng-show="!whoami">facebook</a>
    <a ng-click="logout()" ng-hide="!whoami">Logout</a>
    <a href="#/test">Test</a>
    <br>
    <div id="profile_facebook">{{whoami}}</div>
    <a ng-click="loginGmail()" ng-show="!whoami">gmail</a>
    <a ng-click="logout()" ng-hide="!whoami">Logout</a>
    <a href="#/test">Test</a>



  </body>
</html>
