
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JP LogIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <!-- <meta name="google-signin-client_id" content="769395586214-jni7dp75c9nj18edh7louk47a6uj6bef.apps.googleusercontent.com"> -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- facebook LogIn Script -->
    <script src="facebookLogInApp.js" charset="utf-8"></script>
    <!-- Gmail LogIn Script -->
      <script src="gmailLogInApp.js" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height());
          window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
    </script> -->
</head>
<body ng-app="helloApp">


<div ng-show="!whoami" class="container-fluid">
    <div id="background"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title"><b>Just</b>Play</p>
                <p class="form-description">MUSIC and VIDEO DIGITAL DISTRIBUTION - MUSIC PUBLISHING - PROMOTION - LIVE BOOKINGS - ARTIST MANAGEMENT</p>
                <form class="login">
                <input type="FacebookLogIn" ng-click="loginFace()" value="Facebook" class="btn btn-success btn-sm" readonly />
                <input type="twitterLogIn" value="Twitter" class="btn btn-success btn-sm"  readonly/>
                <input id ="customBtn" ng-click="loginGmail()" type="gmailLogIn" value="Gmail" class=" btn btn-success btn-sm" readonly/>
                </form>
            </div>
        </div>
    </div>
  </div>



<!-- dashboard html template -->

<div ng-hide="!whoami" class="">
<div  id="DashBoardbackground"></div>


    <!-- Top container -->
    <div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4;">
      <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
      <!-- <span class="w3-right">Logo</span> -->
      <span class="w3-right"><b>Just</b>Play</span>

    </div>

    <!-- Sidenav/menu -->
    <nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;margin-top:-2px;" id="mySidenav"><br>
      <div class="w3-container w3-row">
        <div class="w3-col s4">
          <img src="{{thumbnail}}" class="w3-circle w3-margin-right" style="width:46px">
        </div>
        <div class="w3-col s8">
          <span>Welcome, <strong>{{whoami}}</strong></span><br>
          <a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block"><i class="fa fa-envelope"></i></a>
          <a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block"><i class="fa fa-user"></i></a>
          <a href="#" class="w3-hover-none w3-hover-text-blue w3-show-inline-block"><i class="fa fa-cog"></i></a>
        </div>
      </div>

      <hr>

      <a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a ui-sref="login.data" class="w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
      <a  ui-sref="login.data" class="w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
      <a href="#" class="w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
      <a ui-sref="login.statistics" class="w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Statistics</a>
      <a ui-sref="login.worldMapView" class="w3-padding"><i class="fa fa-globe fa-fw"></i>  World Map</a>
      <a href="#" class="w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
      <a href="#" class="w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
      <a href="#" class="w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
      <a ng-click="logout()" href="#" class="w3-padding"><i class="fa fa-cog fa-fw"></i>  Logout</a><br><br>
    </nav>


    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:40px;">

      <!-- Header -->
      <header class="w3-container" style="padding-top:22px">
      </header>
      <!-- <p>aca abajo</p> -->
      <div ui-view></div>
      <!-- <p>aca arriba</p> -->
      <hr>
      <br>

      <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">Demographic</h5>
            <p>Language</p>
            <p>Country</p>
            <p>City</p>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">System</h5>
            <p>Browser</p>
            <p>OS</p>
            <p>More</p>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">Target</h5>
            <p>Users</p>
            <p>Active</p>
            <p>Geo</p>
            <p>Interests</p>
          </div>
        </div>
      </div>

      <!-- End page content -->
    </div>



</div>


<div id="footer" class="">
  <div ng-hide="whoami" class="row">
     <div class="col-lg-12 col-xs-12 col-md-12 col-ms-12 posted-by">Created By: <a href="http://www.gd78music.com">GD Seventy Eight Music LTD.</a></div>
  </div>
</div>

</body>
</html>
