body
{
/*background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
background-size: cover;*/
padding: 0;
margin: 0;
}

.wrap
{
width: 100%;
height: 100%;
min-height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 99;
}

p.form-title
{
font-family: 'Open Sans' , sans-serif;
font-size: 50px;
text-align: center;
color: #FFFFFF;
margin-top: 2%;
/*text-transform: uppercase;*/
letter-spacing: 4px;
}

p.form-description
{
font-family: 'Open Sans' , sans-serif;
font-size: 2.2vmin;
text-align: center;
color: #CCCCCC;
/*margin-top: 5%;*/
text-transform: uppercase;
letter-spacing: 2px;
}

form
{
width: 250px;
margin: 0 auto;
}


/*Facebook LogIn Button*/
form.login input[type="FacebookLogIn"]
{
transition: all 1.0s ease;
background-color: transparent;
border-color:#3b5998 ;
width: 100%;
font-size: 14px;
text-transform: uppercase;
font-weight: 500;
margin-top: 80px;
outline: 0;
cursor: pointer;
letter-spacing: 1px;

}

form.login input[type="FacebookLogIn"]:hover
{
 background-color: #3b5998;
  border-color: #3b5998;
}

/*face btn ends*/

/*Twitter LogIn Button*/
form.login input[type="twitterLogIn"]
{
transition: all 1.0s ease;
background-color: transparent;
border-color:#0099e5 ;
width: 100%;
font-size: 14px;
text-transform: uppercase;
font-weight: 500;
margin-top: 16px;
outline: 0;
cursor: pointer;
letter-spacing: 1px;
}

form.login input[type="twitterLogIn"]:hover
{
   background-color: #0099e5;
   border-color: #0099e5;
}
/*Twitter ends*/


/*gmailbtn*/

form.login input[type="gmailLogIn"] {
  transition: all 1.0s ease;
  background-color: transparent;
  border-color:#db3236 ;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}
form.login input[type="gmailLogIn"]:hover {
  background-color: #db3236;
  border-color: #db3236;
}

/*gmail nds*/




.posted-by
{
position: absolute;
bottom: -350px;
text-align: center;
margin: 0 auto;
color: #FFF;
background-color: rgba(0, 0, 0, 0.6);
padding: 5px;
/*left: 45%;*/

}

#DashBoardbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
    z-index:-10;
    filter:alpha(opacity=30);

}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*opacity: 0.5;*/
    z-index:-1;
    /*filter:alpha(opacity=50);*/

}


/*only for screen > 800px*/
@media only screen and (max-width: 800px) {

/*This is to avoid hover effect in mobile devices*/

/*facebook BTN*/
  form.login input[type="FacebookLogIn"]
  {
  background-color: #3b5998;
  border-color: #3b5998;
  }

/*TT btn*/
  form.login input[type="twitterLogIn"]
  {
    background-color: #0099e5;
    border-color: #0099e5;
  }

  form.login input[type="gmailLogIn"] {
    background-color: #db3236;
    border-color: #db3236;
  }



}
